# .clang-format
BasedOnStyle: Microsoft
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 140
AllowShortFunctionsOnASingleLine: Inline
BreakBeforeBraces: Attach
SpacesInParentheses: false
SpaceAfterCStyleCast: true
Cpp11BracedListStyle: true
SortIncludes: false
AlignAfterOpenBracket: DontAlign
ContinuationIndentWidth: 8
PointerAlignment: Middle
BinPackParameters: true
BinPackArguments: true
AllowAllArgumentsOnNextLine: false
AllowShortBlocksOnASingleLine: Always